### Loops

1.while

In [3]:
total_marks= 1000
cutoff = 400
score =[100,200,300,399,500]
year = 0

while score[year] <cutoff:
    print(f" your score is {score[year]}")
    print(" i will attempt next year")
    year=year+1

 your score is 100
 i will attempt next year
 your score is 200
 i will attempt next year
 your score is 300
 i will attempt next year
 your score is 399
 i will attempt next year

In [4]:
total_marks= 1000
cutoff = 400
score =[100,200,300,399,500]
year = 0
 
while score[year] <cutoff:
    print(f" your score is {score[year]}")
    print(" i will attempt next year")
    year=year+1
else:
    print("you are in else ")

 your score is 100
 i will attempt next year
 your score is 200
 i will attempt next year
 your score is 300
 i will attempt next year
 your score is 399
 i will attempt next year
you are in else

In [5]:
while False:
    print(f" your score is {score[year]}")
    print(" i will attempt next year")
    year=year+1
else:
    print("you are in else ")

you are in else

2. for loop

In [7]:
for i in range(0,10):
    print(f" 10 x {i+1}={10*(i+1)}")

 10 x 1=10
 10 x 2=20
 10 x 3=30
 10 x 4=40
 10 x 5=50
 10 x 6=60
 10 x 7=70
 10 x 8=80
 10 x 9=90
 10 x 10=100

In [8]:
for i in range(1,11):
    print(f" 10 x {i}={10*i}")

 10 x 1=10
 10 x 2=20
 10 x 3=30
 10 x 4=40
 10 x 5=50
 10 x 6=60
 10 x 7=70
 10 x 8=80
 10 x 9=90
 10 x 10=100

In [9]:
for i in range(1,11):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [13]:
cost_of_items= [100,200,129,456]

total_sum = 0

for i in range(0,4):
    print(f"{total_sum }= {total_sum} + {cost_of_items[i]}")
    total_sum = total_sum + cost_of_items[i]
    print("-----")
    
    
print(f" total amount to be paid: {total_sum}")

0= 0 + 100
-----
100= 100 + 200
-----
300= 300 + 129
-----
429= 429 + 456
-----
 total amount to be paid: 885

In [14]:
cost_of_items= [100,200,129,456]

total_sum = 0

for cost in cost_of_items:
    print(f"{total_sum }= {total_sum} + {cost}")
    total_sum = total_sum + cost
    print("-----")
    
    
print(f" total amount to be paid: {total_sum}")

0= 0 + 100
-----
100= 100 + 200
-----
300= 300 + 129
-----
429= 429 + 456
-----
 total amount to be paid: 885