## Arithematic operators

In [4]:
A=5
B=2

A//B

2

In [2]:
A/B

2.5

In [3]:
A%B

1

In [6]:
if A%B==0:
    print(f" A {A} is divisibal by B {B} ")
else:
    print(f" A {A} is not divisibal by B {B} ")

 A 5 is not divisibal by B 2

In [7]:
A=54
B=2

if A%B==0:
    print(f" A {A} is divisibal by B {B} ")
else:
    print(f" A {A} is not divisibal by B {B} ")

 A 54 is divisibal by B 2

In [8]:
A=4

A**(1/2)

2.0

# String methods

In [11]:
#string indexing 

# 012345
#-1-2-3-4-5

name = "Aakash"

name[2]

'k'

In [12]:
name[5]

'h'

In [13]:
name[-1]

'h'

In [14]:
name[-0]

'A'

In [17]:
name[6]

IndexError: string index out of range

In [20]:
### String slicing
name ="sunny"
name[1:3]  # [staring point , ending point ]

'un'

In [21]:
name[1:5] # ending is excluded N-1

'unny'

In [23]:
name[-4:-1]

'unn'

In [25]:
date ="08/11/2022"

date[0:2]

'08'

In [27]:
date[3:5]

'11'

In [29]:
date[6:10]

'2022'

In [41]:
name="aakash"

name[1::2]

'aah'

In [43]:
# Palindrome sequence

data= input("enter string")
reverse=data[::-1]  # REVERSE THE STRING 

if reverse ==data:
    print(f"input string {data} is palindrome ")
else:
    print(f"input string {data} is not palindrome")

enter stringhhgdd
input string hhgdd is not palindrome

## Mutability

In [45]:
name="Aakash"    # string is not mutabel

name[0]="s"

TypeError: 'str' object does not support item assignment

In [46]:
# we can do it by some way
# this one is first way

"F" + name[1:]

'Fakash'

In [47]:
name

'Aakash'

In [48]:
name="F" + name[1:]

In [49]:
name

'Fakash'

In [51]:
# second way

name.replace("a","yyy")

'Fyyykyyysh'

In [52]:
name.replace("k","n")

'Fanash'

### length of string

In [54]:
name="aakash"
len(name)

6

In [55]:
len("Sunny")

5

In [56]:
len("sunny   chnadra")

15

In [57]:
len("sunny   ")

8

In [60]:
name=" sunny   "               ##for count only the character we can replace space to nothing 
name = name.replace(" ","")
name

'sunny'

### count specific characters in a string

In [61]:
name="Aakahs"
name.count("a")

2

###  Split operation

In [62]:
name = "Aakash Santosh Solanke"

name.split(" ")

['Aakash', 'Santosh', 'Solanke']

In [63]:
first_name, middle_name, sir_name = name.split(" ")
print(f"""
first name : {first_name}
middel name : {middle_name}
sir name : {sir_name}

""")

first name : Aakash
middel name : Santosh
sir name : Solanke

In [66]:
name.split("a")

['A', 'k', 'sh S', 'ntosh Sol', 'nke']

In [65]:
data = input("enter date of birth in DD/MM/YYYY Format")

date, month , year = data.split("/")

print(f"""
the user was born in the month of {month} in the year {year} on the date of {date}  
""")

enter date of birth in DD/MM/YYYY Format02/09/1999

the user was born in the month of 09 in the year 1999 on the date of 02

In [67]:
A= data.split("/")

In [72]:
A

['02', '09', '1999']

In [69]:
A[0]

'02'

In [70]:
A[1]

'09'

In [71]:
A[2]

'1999'

### lower , upper , title case etc

In [73]:
name ="Aakash Solanke Santosh "

In [74]:
name.lower()

'aakash solanke santosh '

In [75]:
name.upper()

'AAKASH SOLANKE SANTOSH '

In [ ]:
name =input("enter your name ")

print(f" user input {name} ")
print(f" name in upper case : {name.upper()}")
print(f" name in lower case : {name.lower()}")
print(f" name in title case : {name.title()}")
print(f" name in capitalize case : {name.capitalize()}")
print(f" name in swapcase case : {name.swapcase()}")

In [79]:
name = "Aakash Santosh Solanke"
"*".join(name)

'A*a*k*a*s*h* *S*a*n*t*o*s*h* *S*o*l*a*n*k*e'

In [82]:
"_".join(name)

'A_a_k_a_s_h_ _S_a_n_t_o_s_h_ _S_o_l_a_n_k_e'

### Remove extra spaces front and back of the string

In [85]:
name =" Aakash   "

name.strip(" ")

'Aakash'

In [86]:
name.lstrip()

'Aakash   '

In [87]:
name.rstrip()

' Aakash'

### Formating

In [89]:
name ="Aakash"

name.center(22,'#')

'########Aakash########'

In [90]:
name.center(10,'#')

'##Aakash##'

In [91]:
name.center(7,'#')

'#Aakash'

### Checking string cases  [ IMP]

In [93]:
name ="AAKASH"
name.isupper()

True

In [95]:
name= "Aakash"
name.isupper()

False

In [96]:
name="aakash"
name.islower()

True

In [97]:
name.isspace()

False

In [98]:
name ="  "
name.isspace()

True

In [99]:
name ="Aakash"
name.istitle()

True

In [100]:
phone_no = "123242334"
phone_no.isdigit()

True

In [103]:
phone_no= input("enter your phone number")

if phone_no.startswith("+91") and phone_no[1:].isdigit() and len(phone_no)<=13:
    print(f" user enter correct number")
else:
    print("invalide input")

enter your phone number+919090909090
 user enter correct number

In [104]:
phone_no= input("enter your phone number")

if phone_no.startswith("+91") and phone_no[1:].isdigit() and len(phone_no)<=13:
    print(f" user enter correct number")
else:
    print("invalide input")

enter your phone number+989878787665
invalide input

In [106]:
pan_no= "LASDJ28836"
## check for alphanumeric it will chek alphabet or numeric
pan_no.isalnum()

True

In [110]:
no="2983792982"
no.isalnum()

True

In [111]:
pan_no="aakash solanke"
pan_no.isalnum()     # space is not alphanumeric or number

False

In [112]:
pan_no="aakash**solanke"
pan_no.isalnum()     # space is not alphanumeric

False