### varaible case sensitivity

In [1]:
Ten= 10
ten=20
#Ten and ten both are different in terms of lowercase and upercase letter
print(Ten)
print(ten)

10
20

### Reserved word in python

### 1. we should not use reserved words as variable names
### 2. Also python does not restrict the user to use reserved keywords as variable names

In [1]:
print("hi aakash")

hi aakash

In [4]:
print= "hi there"
type(print)

str

In [5]:
print("hi there")

TypeError: 'str' object is not callable

In [6]:
del print

In [7]:
print("gi")

gi

### Multi assignment of variable

In [11]:
a,b,c, yes = 10, 30 ," aakash", True

In [12]:
type(a)

int

In [13]:
type(c)

str

In [15]:
type(yes)

bool

In [16]:
a=b=c=10

In [17]:
a,b,c

(10, 10, 10)

### User inputs

In [22]:
name= input("enter your name : ")
print(f"you have enter {name}")

enter your name : Aakash
you have enter Aakash

In [23]:
a= input("enter value of A")
b= input("enter the value of B")
print(f"sum of A and B is {a+b}")

enter value of A12
enter the value of B12
sum of A and B is 1212

In [25]:
a= input("enter value of A")
b= input("enter the value of B")

print(type(a), type(b))

enter value of A23
enter the value of Bsad
<class 'str'> <class 'str'>

In [26]:
a= int(input("enter value of A"))
b= int(input("enter the value of B"))
print(f"sum of A and B is {a+b}")

print(type(a), type(b))

enter value of A213
enter the value of B23
sum of A and B is 236
<class 'int'> <class 'int'>

In [28]:
a= float(input("enter value of A"))
b= float(input("enter the value of B"))
print(f"sum of A and B is {a+b}")

print(type(a), type(b))

enter value of A23.34
enter the value of B23.5
sum of A and B is 46.84
<class 'float'> <class 'float'>

In [31]:
# String to integer

A="50"
print(f"data type befor :{type(A)}, Value of A {A} ")
A=int(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'str'>, Value of A 50
data type after: <class 'int'>,Value of A 50

In [33]:
# String to integer

A="50.98"
print(f"data type befor :{type(A)}, Value of A {A} ")
A=int(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'str'>, Value of A 50.98

ValueError: invalid literal for int() with base 10: '50.98'

In [32]:
# Float to int
A = 49.49
print(f"data type befor :{type(A)} ,Value of A {A}")
A=int(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'float'> ,Value of A 49.49
data type after: <class 'int'>,Value of A 49

In [34]:
# INT TO Float
A = 49
print(f"data type befor :{type(A)} ,Value of A {A}")
A=float(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'int'> ,Value of A 49
data type after: <class 'float'>,Value of A 49.0

In [35]:
#int to bool 
A = 49
print(f"data type befor :{type(A)} ,Value of A {A}")
A=bool(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'int'> ,Value of A 49
data type after: <class 'bool'>,Value of A True

In [36]:
#int to bool 
A = 0
print(f"data type befor :{type(A)} ,Value of A {A}")
A=bool(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'int'> ,Value of A 0
data type after: <class 'bool'>,Value of A False

In [37]:
#int to bool 
A = -29
print(f"data type befor :{type(A)} ,Value of A {A}")
A=bool(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'int'> ,Value of A -29
data type after: <class 'bool'>,Value of A True

In [39]:
# string to bool 
A = "aakash"
print(f"data type befor :{type(A)} ,Value of A {A}")
A=bool(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'str'> ,Value of A aakash
data type after: <class 'bool'>,Value of A True

In [40]:
# empty string to bool 
A = ""
print(f"data type befor :{type(A)} ,Value of A {A}")
A=bool(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'str'> ,Value of A
data type after: <class 'bool'>,Value of A False

In [41]:
# string to bool 
A = "False"
print(f"data type befor :{type(A)} ,Value of A {A}")
A=bool(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'str'> ,Value of A False
data type after: <class 'bool'>,Value of A True

In [42]:
# string to bool 
A = ""
print(f"data type befor :{type(A)} ,Value of A {A}")
A=int(A)
print(f"data type after: {type(A)},Value of A {A}")

data type befor :<class 'str'> ,Value of A

ValueError: invalid literal for int() with base 10: ''

## Memory Block

In [47]:
a=10
b=20
c=30
d=10  #the add is same because it assigned same value

In [48]:
print(id(a))
print(id(b))
print(id(c))
print(id(d))  #

2576231787088
2576231787408
2576231787728
2576231787088

In [49]:
d= d+3

In [50]:
id(d)

2576231787184

In [51]:
a="aakash"
b="aakash"
print(id(a))
print(id(a))

2576322843440
2576322843440

In [3]:
#

def intresting_numb(a,b):
    c=0
    for i in range(a,b+1):
        def if4(i):
            while(i):
                digit=i%10
                if digit==4:
                    return False
                else:
                    return True
                i=i//10
        if i%4!=0 and if4(i):
            c=c+1
    return c

In [7]:
intresting_numb(11,18)

5

In [8]:
a=10
b=20

a=a+b
b=a-b
a=a-b
print(a,b)

20 10

In [11]:
n=int(input())
sum=0
while(n):
    r=n%10
    sum=(sum*10)+r
    n=n//10
print(sum)

123
321