## List operation

In [1]:
A=[2,44,5,7,6,"Aakash", " solanke",2.3,3.4]

In [2]:
A[2:6]

[5, 7, 6, 'Aakash']

In [6]:
A[-2:-7:-1]

[2.3, ' solanke', 'Aakash', 6, 7]

In [7]:
A[3:7:3]

[7, ' solanke']

In [8]:
A[::-2]

[3.4, ' solanke', 6, 5, 2]

In [9]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [11]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [13]:
for i in range(len(A)):
    print(i,A[i])

0 2
1 44
2 5
3 7
4 6
5 Aakash
6  solanke
7 2.3
8 3.4

In [20]:
for i in range(-1,-len(A)-1,-1):
    print(i,A[i])

-1 3.4
-2 2.3
-3  solanke
-4 Aakash
-5 6
-6 7
-7 5
-8 44
-9 2

### Upadating list element at specific index

In [23]:
lis=[2,3,5.5,"Aakash","solanke"]
lis[3]=99
print("new valuse at index ",lis[3])

new valuse at index  99

In [24]:
lis +["veera","papa"]

[2, 3, 5.5, 99, 'solanke', 'veera', 'papa']

In [25]:
lis

[2, 3, 5.5, 99, 'solanke']

### Repitation of list

In [26]:
lis *2

[2, 3, 5.5, 99, 'solanke', 2, 3, 5.5, 99, 'solanke']

In [27]:
B=[3,5,"man"]

In [28]:
A*B

TypeError: can't multiply sequence by non-int of type 'list'

In [29]:
A+B

[2, 44, 5, 7, 6, 'Aakash', ' solanke', 2.3, 3.4, 3, 5, 'man']

In [30]:
A-B

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [31]:
A*-2

[]

In [32]:
A*0

[]

### BASIC LIST METHOD

In [33]:
l=[2,3,5.5,"Aakash","solanke"]

In [34]:
len(l)

5

In [35]:
5 in l

False

In [36]:
5.5 in l

True

In [44]:
lis1=[2,3,4,5,6,7]
max(lis1)

7

In [45]:
## Append 

A.append(3)

In [46]:
A

[2, 44, 5, 7, 6, 'Aakash', ' solanke', 2.3, 3.4, 3]

### pop operation

In [47]:
A.pop()  # remove from end 
A

[2, 44, 5, 7, 6, 'Aakash', ' solanke', 2.3, 3.4]

In [51]:
A.pop(3)  # it remove index 3 elemet 7 is at index 3

6

In [52]:
A

[2, 44, 5, 'Aakash', ' solanke', 2.3, 3.4]

In [54]:
## sort 

li=[37,3,4,7,5,23,24,56]
sorted(li)

[3, 4, 5, 7, 23, 24, 37, 56]

In [65]:
li=[37,3,4,7,5,23,24,56]
li.sort()
print(li)

[3, 4, 5, 7, 23, 24, 37, 56]

In [68]:
li=[37,3,4,7,5,23,24,56]
li.sort(reverse=True)
print(li)

[56, 37, 24, 23, 7, 5, 4, 3]

In [69]:
A=[[111,22,33],[22,11,5],[85,67,5]]

In [71]:
A[0]

[111, 22, 33]

In [72]:
A[2]

[85, 67, 5]

In [73]:
A[1][1]

11

## List comprehension

In [76]:
A= [1,2,3,4,5,6,7,8,9,10]
# ans=[1,4,9,.....]

In [79]:
ans=list()
for i in A:
    print(i**2)
    ans.append(i**2)
print(ans)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
ans=[ele**2 for ele in A]

In [83]:
ans

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [85]:
# only take the squar of odd no in the list

ans=[ele**2 for ele in A if ele%2!=0]

In [86]:
ans

[1, 9, 25, 49, 81]

### Extend

In [87]:
A=[1,2,3,44,5]
B=[9,55,6,7,8,7]

In [88]:
A.extend(B)

In [89]:
A

[1, 2, 3, 44, 5, 9, 55, 6, 7, 8, 7]

### index

In [91]:
A.index(2)

1

In [92]:
A.index(7)

8

In [93]:
A.index(55)

6

In [1]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j]

### Insert

In [2]:
A.insert(2,"Aakash")  #(INDEXT, ELEMENT )

In [3]:
A

[11, 3, 'Aakash', 4, (56+2j), 'Sunny', (1+2j)]

In [4]:
A.insert(20000,"solanke")

In [6]:
A

[11, 3, 'Aakash', 4, (56+2j), 'Sunny', (1+2j), 'solanke']

In [7]:
A.insert(-20000,'asd')

In [8]:
A

['asd', 11, 3, 'Aakash', 4, (56+2j), 'Sunny', (1+2j), 'solanke']

### remove

In [9]:
A.remove(11)

In [11]:
A

['asd', 3, 'Aakash', 4, (56+2j), 'Sunny', (1+2j), 'solanke']

In [12]:
A = [11,11, 3, 4, 56+2j, "Sunny", 1+2j]
A.remove(11)
A

[11, 3, 4, (56+2j), 'Sunny', (1+2j)]

## TUPLES  -()  - Imutable

In [13]:
A=(1,23,4,5)

In [14]:
type(A)

tuple

In [15]:
A[0]

1

In [16]:
A[0]=2   ## TUPLE IS IMUTABLE

TypeError: 'tuple' object does not support item assignment

In [17]:
A=(22,34,2,13)

In [20]:
sorted(A)   # CONVERT IN IT INTO LIST

[2, 13, 22, 34]

In [21]:
A

(22, 34, 2, 13)

In [22]:
max(A)

34

In [23]:
min(A)

2

In [24]:
A.index(22)

0

In [25]:
A.count(2)

1

In [26]:
A.index(13)

3

In [27]:
amazon_cart = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
total_cost=0