## iterator

In [5]:
l=[1,2,3,4]

In [6]:
next(l)

TypeError: 'list' object is not an iterator

In [7]:
l=iter(l)

In [9]:
next(l)

2

In [10]:
a=56

In [11]:
next(a)

TypeError: 'int' object is not an iterator

In [12]:
a=iter(a)

TypeError: 'int' object is not iterable

In [13]:
t=(4,56,7,78,9)

In [14]:
next(t)

TypeError: 'tuple' object is not an iterator

In [15]:
t=iter(t)

In [16]:
next(t)

4

In [17]:
next(t)

56

In [21]:
r=range(6)

In [22]:
next(r)

TypeError: 'range' object is not an iterator

In [23]:
r=iter(r)

In [24]:
next(r)

0

In [25]:
next(r)

1

### Generator

In [26]:
list(range(0,45,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40]

In [32]:
def gencube(n):
    l1=[]
    for i in range(n):
        l1.append(i**2) ## if we print data in list it will take time and memory 
    return l1          # if we use print then we can not use this data for any operation beacuse print fucntion return none type

In [36]:
gencube(600)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001,
 250000,
 251001,
 252004,
 253009,
 254016,
 255025,
 256036,
 257049,
 258064,
 259081,
 260100,
 261121,
 262144,
 263169,
 264196,
 265225,
 266256,
 267289,
 268324,
 269361,
 270400,
 271441,
 272484,
 273529,
 274576,
 275625,
 276676,
 277729,
 278784,
 279841,
 280900,
 281961,
 283024,
 284089,
 285156,
 286225,
 287296,
 288369,
 289444,
 290521,
 291600,
 292681,
 293764,
 294849,
 295936,
 297025,
 298116,
 299209,
 300304,
 301401,
 302500,
 303601,
 304704,
 305809,
 306916,
 308025,
 309136,
 310249,
 311364,
 312481,
 313600,
 314721,
 315844,
 316969,
 318096,
 319225,
 320356,
 321489,
 322624,
 323761,
 324900,
 326041,
 327184,
 328329,
 329476,
 330625,
 331776,
 332929,
 334084,
 335241,
 336400,
 337561,
 338724,
 339889,
 341056,
 342225,
 343396,
 344569,
 345744,
 346921,
 348100,
 349281,
 350464,
 351649,
 352836,
 354025,
 355216,
 356409,
 357604,
 358801]

In [39]:
def gencube(n):
    l1=[]
    for i in range(n):
        l1.append(i**2) 
    return l1

In [40]:
gencube(4)

[0, 1, 4, 9]

In [41]:
def gencube(n):
    for i in range(n):
        yield i**3

In [42]:
gencube(4)

In [43]:
for i in gencube(8):
    print(i)

0
1
8
27
64
125
216
343

In [44]:
# write a function which will genrate fibonacci 

def fib(n):
    a=1
    b=1
    for i in range(n):
        yield a,i      # yield --> is trying to store  
        a,b = b,a+b

In [46]:
for i in fib(10):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)

In [47]:
  def fib1(n):         #  this program take long time if we give large number as  no as input 
        a=1
        b=1
        output=[]
        for i in range(n):
            output.append(a)
            a , b = b , a+b
        return output

In [49]:
fib1(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [57]:
  def fib2(n):         #  print has none return type 
        a=1
        b=1
        output=[]
        for i in range(n):
            print(a)
            print(type(a))
            a , b = b , a+b

In [58]:
fib2(10)

1
<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
5
<class 'int'>
8
<class 'int'>
13
<class 'int'>
21
<class 'int'>
34
<class 'int'>
55
<class 'int'>

### File system operation

In [64]:
f = open("text.txt",'w')

In [65]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 44A5-598D

 Directory of C:\Users\aakas\Documents\INeuron

18-11-2022  10:09    <DIR>          .
18-11-2022  10:09    <DIR>          ..
16-11-2022  22:59    <DIR>          .ipynb_checkpoints
08-11-2022  00:13            18,377 demo_003.ipynb
08-11-2022  22:49            14,946 demo_004.ipynb
10-11-2022  12:12            27,467 demo_005.ipynb
10-11-2022  22:19             5,992 demo_006.ipynb
11-11-2022  23:28            25,248 demo_007.ipynb
15-11-2022  15:30            40,831 demo_functions.ipynb
16-11-2022  22:57            85,130 function_continued.ipynb
18-11-2022  10:07            25,134 iterator-generator-file-system .ipynb
18-11-2022  10:09                 0 text.txt
               9 File(s)        243,125 bytes
               3 Dir(s)  228,067,287,040 bytes free

In [66]:
pwd()

'C:\\Users\\aakas\\Documents\\INeuron'

In [67]:
f= open("text1.txt","w")

In [68]:
f.write("this is my first operation to somrting in my text1.txt")

54

In [82]:
f.close()       # if you did not close the file ther is nothing in the file

In [84]:
%%writefile text2.txt                    ## other way to create file 
this is a data i would like to store in  my file

Overwriting text2.txt

In [78]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 44A5-598D

 Directory of C:\Users\aakas\Documents\INeuron

18-11-2022  10:17    <DIR>          .
18-11-2022  10:17    <DIR>          ..
16-11-2022  22:59    <DIR>          .ipynb_checkpoints
08-11-2022  00:13            18,377 demo_003.ipynb
08-11-2022  22:49            14,946 demo_004.ipynb
10-11-2022  12:12            27,467 demo_005.ipynb
10-11-2022  22:19             5,992 demo_006.ipynb
11-11-2022  23:28            25,248 demo_007.ipynb
15-11-2022  15:30            40,831 demo_functions.ipynb
16-11-2022  22:57            85,130 function_continued.ipynb
18-11-2022  10:17            29,418 iterator-generator-file-system .ipynb
18-11-2022  10:09                 0 text.txt
18-11-2022  10:13                54 text1.txt
18-11-2022  10:16                51 text2.txt
              11 File(s)        247,514 bytes
               3 Dir(s)  228,067,639,296 bytes free

In [87]:
f = open("text1.txt")       # by default it is in read mode

In [88]:
f.read()

'this is my first operation to somrting in my text1.txt'

In [90]:
f.write(" i want to add this in my file")        ## it is in read moad not able to write

UnsupportedOperation: not writable

In [92]:
f.read()   # after reading the cursor is at last point

''

In [95]:
f.seek(10)   # it reset the cursor position

10

In [96]:
f.read()

' first operation to somrting in my text1.txt'

In [97]:
f.seek(0)

0

In [98]:
f.read()

'this is my first operation to somrting in my text1.txt'

In [99]:
f.read()

''

In [101]:
f.tell()    ## tell you where is your cursor

54

In [102]:
f.seek(5)

5

In [103]:
f.tell()

5

In [111]:
f = open("text1.txt","r+")

In [112]:
f.readline()

'this is my first operation to somrting in my text1.txt\n'

In [113]:
f.readline()

'\n'

In [115]:
f.readline()

'kjdkdd\n'

In [119]:
f = open("google.txt","w")

In [120]:
f.write("the 31st Welsh Open. The seventh of eight tournaments in the season's European Series, it was the fourth and last event of the Home Nations Series. It was broadcast by BBC Cymru Wales, BBC Online, BBC Red Button, Quest and Eurosport domestically. Jordan Brown was the defending champion, having defeated Ronnie O'Sullivan 9–8 in the 2021 event. However, Brown lost 3–4 in his held-over qualifying match against Mitchell Mann. Joe Perry (pictured) defeated Judd Trump 9–5 in the final to win his first Welsh Open title and his second ranking title. Aged 47, Perry became the oldest to win a ranking tournament since Ray Reardon in 1982. There were 58 century breaks made during the main venue stage of the event; the highest was a 142 made by Michael White in the second round. (Full article...)")

794

In [121]:
f.close()

In [122]:
f =open("google.txt","r+")

In [123]:
f.read()

"the 31st Welsh Open. The seventh of eight tournaments in the season's European Series, it was the fourth and last event of the Home Nations Series. It was broadcast by BBC Cymru Wales, BBC Online, BBC Red Button, Quest and Eurosport domestically. Jordan Brown was the defending champion, having defeated Ronnie O'Sullivan 9–8 in the 2021 event. However, Brown lost 3–4 in his held-over qualifying match against Mitchell Mann. Joe Perry (pictured) defeated Judd Trump 9–5 in the final to win his first Welsh Open title and his second ranking title. Aged 47, Perry became the oldest to win a ranking tournament since Ray Reardon in 1982. There were 58 century breaks made during the main venue stage of the event; the highest was a 142 made by Michael White in the second round. (Full article...)"

In [124]:
f.seek(0)

0

In [125]:
f.readline()

"the 31st Welsh Open. The seventh of eight tournaments in the season's European Series, it was the fourth and last event of the Home Nations Series. It was broadcast by BBC Cymru Wales, BBC Online, BBC Red Button, Quest and Eurosport domestically. Jordan Brown was the defending champion, having defeated Ronnie O'Sullivan 9–8 in the 2021 event. However, Brown lost 3–4 in his held-over qualifying match against Mitchell Mann. Joe Perry (pictured) defeated Judd Trump 9–5 in the final to win his first Welsh Open title and his second ranking title. Aged 47, Perry became the oldest to win a ranking tournament since Ray Reardon in 1982. There were 58 century breaks made during the main venue stage of the event; the highest was a 142 made by Michael White in the second round. (Full article...)"

In [138]:
f=open("google.txt","r+")
for i in f:
    print(i, end=" ")

the 31st Welsh Open. The seventh of eight tournaments in the season's European Series, it was the fourth and last event of the Home Nations Series. It was broadcast by BBC Cymru Wales, BBC Online, BBC Red Button, Quest and Eurosport domestically. Jordan Brown was the defending champion, having defeated Ronnie O'Sullivan 9–8 in the 2021 event. However, Brown lost 3–4 in his held-over qualifying match against Mitchell Mann. Joe Perry (pictured) defeated Judd Trump 9–5 in the final to win his first Welsh Open title and his second ranking title. Aged 47, Perry became the oldest to win a ranking tournament since Ray Reardon in 1982. There were 58 century breaks made during the main venue stage of the event; the highest was a 142 made by Michael White in the second round. (Full article...)SDJBKJSDBJDOSD

In [139]:
f.write("dajsndou")

8

In [140]:
f.close()

In [141]:
f=open("google.txt","r+")

In [142]:
f.read()

"the 31st Welsh Open. The seventh of eight tournaments in the season's European Series, it was the fourth and last event of the Home Nations Series. It was broadcast by BBC Cymru Wales, BBC Online, BBC Red Button, Quest and Eurosport domestically. Jordan Brown was the defending champion, having defeated Ronnie O'Sullivan 9–8 in the 2021 event. However, Brown lost 3–4 in his held-over qualifying match against Mitchell Mann. Joe Perry (pictured) defeated Judd Trump 9–5 in the final to win his first Welsh Open title and his second ranking title. Aged 47, Perry became the oldest to win a ranking tournament since Ray Reardon in 1982. There were 58 century breaks made during the main venue stage of the event; the highest was a 142 made by Michael White in the second round. (Full article...)SDJBKJSDBJDOSDdajsndou"

In [143]:
f.close()

In [158]:
f = open("google.txt","r+")

In [159]:
f.readlines()

["the 31st Welsh Open. The seventh of eight tournaments in the season's European Series, it was the fourth and last event of the Home Nations Series. It was broadcast by BBC Cymru Wales, BBC Online, BBC Red Button, Quest and Eurosport domestically. Jordan Brown was the defending champion, having defeated Ronnie O'Sullivan 9–8 in the 2021 event. However, Brown lost 3–4 in his held-over qualifying match against Mitchell Mann. Joe Perry (pictured) defeated Judd Trump 9–5 in the final to win his first Welsh Open title and his second ranking title. Aged 47, Perry became the oldest to win a ranking tournament since Ray Reardon in 1982. There were 58 century breaks made during the main venue stage of the event; the highest was a 142 made by Michael White in the second round. (Full article...)SDJBKJSDBJDOSDdajsndou"]

In [160]:
f.seek(0)

0

In [161]:
len(f.readlines())

1

In [162]:
l= f.readlines()

In [163]:
l

[]